<h1><%= @task.title %></h1>

<p><%= @task.details %></p>

 <% if @task.completed %>
    <p> &#9745; Completed</p>
  <% else %>
    <p> &#9744; This task is not completed</p>
  <% end %>

<%= link_to 'Back to List', tasks_path %>

<p>&#x270E;<%= link_to 'Edit this task', edit_path %></p>
